:root {
    --main-color: #ef6e0d;
    --primary-color: #243374;
    --theme-color : #e9f5f8;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin: 0;
}
h4 {
    font-size: 17px;
    margin: 0;
}
h5 {
    font-size: 16px;
    margin: 0;
}
h6 {
    font-size: 15px;
    margin: 0;
}

p {
    margin: 0;
}


@font-face {
    font-family: 'Tajawal';
    font-weight: 900;
    src: url("../fonts/Tajawal/Tajawal-Black.ttf"),
        url("../fonts/Tajawal/Tajawal-Black.woff2"),
        url("../fonts/Tajawal/Tajawal-Black.woff");
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 800;
    src: url("../fonts/Tajawal/Tajawal-ExtraBold.ttf"),
        url("../fonts/Tajawal/Tajawal-ExtraBold.woff2"),
        url("../fonts/Tajawal/Tajawal-ExtraBold.woff");
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 700;
    src: url("../fonts/Tajawal/Tajawal-Bold.ttf"),
        url("../fonts/Tajawal/Tajawal-Bold.woff2"),
        url("../fonts/Tajawal/Tajawal-Bold.woff");
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 500;
    src: url("../fonts/Tajawal/Tajawal-Medium.ttf"),
        url("../fonts/Tajawal/Tajawal-Medium.woff2"),
        url("../fonts/Tajawal/Tajawal-Medium.woff");
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 400;
    src: url("../fonts/Tajawal/Tajawal-Regular.ttf"),
        url("../fonts/Tajawal/Tajawal-Regular.woff2"),
        url("../fonts/Tajawal/Tajawal-Regular.woff");
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 300;
    src: url("../fonts/Tajawal/Tajawal-Light.ttf"),
        url("../fonts/Tajawal/Tajawal-Light.woff2"),
        url("../fonts/Tajawal/Tajawal-Light.woff");
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 200;
    src: url("../fonts/Tajawal/Tajawal-ExtraLight.ttf"),
        url("../fonts/Tajawal/Tajawal-ExtraLight.woff2"),
        url("../fonts/Tajawal/Tajawal-ExtraLight.woff");
}

main {
    overflow: hidden;
}

/* Start upper-logo */
.upper-logo {
    background-color: var(--main-color);
    padding: 6px 0;
}

.upper-logo .mobile,
.upper-logo .mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-logo .social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upper-logo .call {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    flex-wrap: wrap;
}

.upper-logo span {
    margin: 0 9px 0 19px;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;
}

.upper-logo i {
    font-size: 16px;
    color: #FFF;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #cb5e0b;
    transition: all 0.3s ease-in-out;
}

.upper-logo i:hover {
    background-color: #FFF;
    color: var(--main-color);
}

.upper-logo .dropdown {
    margin-right: 20px;
    background-color: var(--main-color);
    font-size: 16px;
}

.upper-logo .dropdown .btn-secondary {
    background-color: var(--main-color);
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

.upper-logo .dropdown .dropdown-toggle::after {
    display: none;
}

.upper-logo.open {
    position: fixed;
    bottom: 10%;
    right: 0;
    display: flex;
    z-index: 9999;
    width: 260px;
}

@media (max-width:992px) {
    .upper-logo .call {
        justify-content: center;
    }
    .upper-logo .social {
        justify-content: center;
    }
}

@media (max-width:576px) {
    .upper-logo {
        display: none;
        background-color: var(--primary-color);
    }
    .upper-logo .call {
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .upper-logo .social {
        justify-content: flex-start;
        width: 200px;
        background-color: var(--main-color);
    }
    .upper-logo .mobile {
        margin-bottom: 5px;
    }
    .upper-logo span {
        margin: 0 9px 0 0;
    }
}

/* End upper-logo */
/* Start logo */
.logo {
    padding-top: 29px;
    padding-bottom: 24px;
}

@media (max-width:575px) {
    .logo {
        display: none;
    }
}
/* End logo */
/* start nav */
.nav {
    padding-bottom: 20px;
}

.nav .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .list .image {
    display: none;
}

.nav .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .list ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav .list li {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.nav .list a {
    display: inline-flex;
    font-size: 16px;
    overflow: hidden;
}

.nav .list li.active {
    color: var(--main-color);
}

.nav .list li.active::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}

.nav .list li:hover {
    color: var(--main-color);
}

.nav .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: var(--main-color);
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 7px 30px rgba(239, 110, 13, 0.3);
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.nav .btn i {
    margin-left: 5px;
    font-size: 16px;
}

.nav .btn span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    display: block;
    color: #FFF;
    background-color: #cb5e0b;
    z-index: -1;
}

.list .icon {
    display: none;
}

.list .close-btn {
    display: none;
}

@media (max-width:992px) {
    .list .icon {
        display: flex;
        color: var(--main-color);
        cursor: pointer;
    }
    .list .icon p {
        margin-right: 5px;
    }
    .nav .list ul.no-show {
        display: none;
        transform: translateX(-100%);
    }
    .nav .list ul.no-show.open {
        display: flex;
        flex-direction: column;
        background-color: white;
        width:260px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        text-align: center;
        box-shadow: 0 0 0 100vw rgba(0,0,0,0.7);
        padding: 0 15px;
        transform: translateX(0);
        justify-content: start;
        gap: 10px;
        align-items: flex-start;
        transition: 0.5s all ease-in-out;
        padding-top: 100px;
    }
    .list .close-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
        color: var(--primary-color);
    }
    .list .close-btn:hover {
        color: var(--main-color);
        transform: rotate(90deg);
    }
    .nav .list li.active::after {
        display: none;
    }
}

@media (max-width:576px) {
    .nav {
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 55;
        box-shadow: 0 10px 25px rgba(0,0,0,0.7);
        background-color: var(--theme-color);
    }
    .nav .list .image {
        display: block;
        max-width: 100%;
        padding: 0 5px;
    }
    .nav .list .image img {
        display: block;
        max-width: 100%;
    }
    .nav .list {
        height: 50px;
    }
    .nav .btn {
        width: 120px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        padding: 0;
    }
}

/* End nav */
/* Start swiper */
.side-main .swiper .slide {
    position: relative;
}

.side-main a {
    display: block;
}

.side-main img {
    max-width: 100%;
}

.swiper .slide .text {
    width: 50%;
    margin-right: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.swiper .slide h1 {
    color: #FFF;
    margin-bottom: 20px;
}

.swiper .slide h4 {
    color: #FFF;
    margin-bottom: 44px;
    line-height: 34px;
    font-weight: 400;
}

.swiper .info {
    display: flex;
}

.swiper .info .btn-1 {
    width: 190px;
    height: 45px;
    margin-left: 10px;
    background-color: #FFF;
    color: var(--primary-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.swiper .info .btn-1:hover {
    background-color: var(--primary-color);
    color: #FFF;
    border-color: var(--primary-color);
}

.swiper .info .btn-2 {
    width: 154px;
    height: 45px;
    background-color: var(--main-color);
    z-index: 2;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 7px 30px rgba(239, 110, 13, 0.3);
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.swiper .info .btn-2 span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    display: block;
    color: #FFF;
    background-color: #cb5e0b;
    z-index: -1;
}

.swiper .info .btn-2 i {
    margin-left: 5px;
    font-size: 16px;
}

.swiper-pagination-bullet-active {
    background-color: #FFF;
}

@media (min-width:1200px) {
    .side-main img {
        width: 100%;
    }
}

@media (max-width:991px) {
    .swiper .slide h1 {
        font-size: 32px;
    }
    
    .swiper .slide h4 {
        font-size: 17px;
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .swiper .slide .text {
        width: 100%;
        margin: 0;
    }
    .swiper .slide h1 {
        font-size: 25px;
    }
    .swiper .slide h4 {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .swiper .info .btn-1 {
        width: 154px;
    }
}

@media(max-width:576px) {
    .swiper .slide h1 {
        font-size: 20px;
        margin: 0;
    }
    .swiper .slide h4 {
        font-size: 12px;
        margin: 0;
        line-height: unset;
    }
    .swiper .info .btn-1 {
        width: 120px;
        margin: auto;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        padding: 0;
    }
    .swiper .info .btn-2 {
        margin: auto;
        height: 30px;
        width: 120px;
        font-size: 14px;
        line-height: 30px;
        padding: 0;
    }
}

.swiper .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: 4px;
}


/* End swiper */
/* Start main-service */
.main-service {
    padding-top: 100px;
    padding-bottom: 102px;
    background-color: #FFF;
}

.main-service h2 {
    margin-bottom: 50px;
    color: var(--primary-color);
    line-height: 60px;
}

.main-service .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-service .image {
    width: 210px;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--theme-color);
    transition: all 0.3s ease-in-out;
}

.main-service .text h3 {
    margin-top: 36px;
    color: var(--primary-color);
    transition: 0.3s;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}

.main-service .box:hover .image {
    background-color: var(--main-color);
}

.main-service .box:hover h3 {
    color: var(--main-color);
}

.main-service .move {
    position: relative;
    display: none;
}

.main-service .swiper-slide img {
    max-width: 100%;
}

.main-service .swiper-pagination {
    bottom: 15px;
}

.main-service .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: 4px;
}

.main-service .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

@media (max-width:767px) {
    .main-service {
        padding-top: 45px;
        padding-bottom: 40px;
    }
    .main-service .hide {
        display: none;
    }
    .main-service .move {
        display: block;
    }
}

@media (max-width:567px) {
    .main-service {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-service .swiper {
        padding: 30px 0;
    }
    .main-service a {
        display: block;
    }
    .main-service h2 {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1;
    }
    .main-service .box {
        padding: 0 3px;
    }
    .main-service .image {
        width: 120px;
        height: 120px;
        max-width: 100%;
        padding: 20px;
    }
    .main-service .swiper-pagination {
        bottom: 10px;
    }
}

/* End main-service */
/* Start informaton */
.informaton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.informaton .over-lay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 71px);
    background-color: var(--theme-color);
    z-index: -1;
}

.informaton .text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 654px;
}

.informaton h3 {
    width: 135px;
    height: 35px;
    color: #FFF;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border-bottom-right-radius:0%;
    position: relative;
}

.informaton h3::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    clip-path: polygon(100% 0%,100% 100%,0% 0%);
    right: 0;
    bottom: -10px;
    background-color: var(--main-color);
}

.informaton .name {
    margin: 19px 0 33px 0;
    color: var(--primary-color);
}

.informaton .sub-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.informaton .sub-title.last {
    margin-bottom: 32px;
}

.informaton .sub-title .icon i {
    margin-left: 16px;
    color: var(--main-color);
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin-top: 6px;
}

.informaton .sub-title .info {
    margin-bottom: 9px;
}

.informaton .sub-title h4 {
    color: var(--primary-color);
    line-height: 27px;
    font-weight: 400;
}

.informaton .contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: #FFF;
    width: 180px;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.informaton .contact .btn:hover {
    background-color: var(--primary-color);
}

.informaton .image-respo {
    display: none;
}

@media (min-width:1200px) {
    .informaton .text {
        width: 50%;
    }
}

@media (max-width:767px) {
    .informaton {
        flex-direction: column;
    }
    .informaton .image img {
        margin-bottom: 15px;
        max-width: 100%;
    }
    .informaton .text {
        padding-bottom: 20px;
        width: 100%;
    }
}

@media (max-width:575px) {
    .informaton {
        background-color: var(--theme-color);
    }
    .informaton .image {
        display: none;
    }
    .informaton .image-respo {
        display: block;
    }
    .informaton .image-respo img {
        max-width: 100%;
    }
    .informaton h3 {
        width: 130px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .informaton .name {
        margin-bottom: 20px;
    }
    .informaton .name h2 {
        font-size: 22px;
    }
    .informaton .sub-title:last-child{
        margin-bottom: 25px;
    }
    .informaton .image img {
        margin-bottom: 15px;
        max-width: 100%;
    }
    .informaton .text {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .informaton .contact .btn {
        width: 160px;
        height: 35px;
        font-size: 15px;
        padding: 0;
        line-height: 35px;
    }
}

/* End informaton */
/* Start about */
.about {
    padding-top: 140px;
    position: relative;
}

.about .about-dr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 555px;
}

.about .about-dr .image-sayed {
    display: none;
}

.about .about-dr h2 {
    color: var(--primary-color);
    margin-bottom: 34px;
    line-height: 1;
}

.about .about-dr h4 {
    color: var(--primary-color);
    line-height: 32px;
    margin-bottom: 20px;
    font-weight: 400;
}

.about .about-dr .body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    gap: 30px;
    margin-bottom: 25px;
}

.about .about-dr .center i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 26px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--theme-color);
    color: var(--main-color);
    transition: all 0.3s;
}

.about .about-dr .center i:hover {
    background-color: var(--main-color);
    color: #FFF;
}

.about .about-dr .center h3 {  
    color: var(--primary-color);
    line-height: 60px;
}

.about .about-dr .center h6 {
    color: var(--primary-color);
    line-height: 26px;
}

.about .about-dr .info .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    background-color: #FFF;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    line-height: 1;
    text-align: center;
}

.about .about-dr .info .btn:hover {
    background-color: var(--primary-color);
    color: #FFF;
    border-color: var(--primary-color);
}

.about .image {
    position: absolute;
    width: 50%;
    top: 95px;
    margin-right: 50%;
}

.about .image img {
    position: relative;
}

.about .image span {
    position: relative;
    display: inline-block;
}

.about .image span::after {
    position: absolute;
    content: "";
    background-color: var(--main-color);
    width: 500%;
    height: 100%;
    display: block;
    top: 0;
    left: -1px;
    border-radius: 310px;
    transform-origin: 310px 310px;
    transform: rotate(133deg);
    z-index: -1;
}

/* @media (max-width:1400px) {
    .about .image span::after {
        content: "";
        background-color: var(--main-color);
        width: 500%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: -1px;
        border-radius: 310px;
        transform-origin: 318px 313px;
        transform: rotate(133deg);
        z-index: -1;
    }
} */

@media(max-width:1199px) {
    .about .about-dr {
        width: 100%;
    }
    .about .image span::after {
        display: none;
    }
    .about .image {
        position: static;
        margin: 70px auto 30px;
    }
}

@media (max-width:575px) {
    .about {
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid var(--primary-color);
    }
    .about .about-dr {
        text-align: center;
    }
    .about .about-dr .image-sayed {
        display: block;
    }
    .about .about-dr .image-sayed img {
        max-width: 100%;
    }
    .about .about-dr h4 {
        margin-bottom: 40px;
        text-align: justify;
        text-align-last: center;
    }
    .about .about-dr h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .about .image img {
        max-width: 100%;
    }
    .about .about-dr .body {
        gap: 40px;
    }
    .about .about-dr .center i {
        margin-bottom: 10px;
    }
    .about .about-dr .center h3 {
        line-height: 1;
        margin-bottom: 10px;
    }
    .about .about-dr .center h6 {
        text-align: justify;
        text-align-last: center;
    }
    .about .about-dr .info {
        margin: auto;
    }
    .about .about-dr .info .btn {
        width: 150px;
        height: 30px;
        font-size: 15px;
        padding: 0;
        line-height: 30px;
    }
    .about .about-dr .body .center:last-child {
        margin-bottom: 20px;
    }
    .about .image {
        display: none;
    }
}

/* End about */
/* Start main-service */
.more-service {
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
}

.more-service h2 {
    margin-bottom: 50px;
    color: var(--primary-color);
}

.more-service .hide {
    margin-bottom: 50px;
}

.more-service .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.more-service .image {
    width: 210px;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--theme-color);
    transition: 0.3s;
}

.more-service .text h3 {
    margin-top: 36px;
    color: var(--primary-color);
    transition: 0.3s;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
}

.more-service .box:hover .image {
    background-color: var(--main-color);
}

.more-service .box:hover h3 {
    color: var(--main-color);
}

.more-service .info .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 45px;
    background-color: #FFF;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.more-service .info .btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #FFF;
}

.more-service .move {
    position: relative;
    display: none;
}

.more-service .swiper-slide img {
    max-width: 100%;
}

.more-service .swiper-pagination {
    bottom: 15px;
}

.more-service .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: 4px;
}

.more-service .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

@media (max-width:767px) {
    .more-service {
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .more-service .hide {
        display: none;
    }
    .more-service .move {
        display: block;
    }
}

@media (max-width:567px) {
    .more-service {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .more-service a {
        display: block;
    }
    .more-service h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .more-service .image {
        width: 120px;
        height: 120px;
        max-width: 100%;
        padding: 20px;
    }
    .more-service .box {
        padding: 0 3px;
    }
    .more-service .info .btn {
        width: 160px;
        height: 35px;
        margin-top: 0;
        font-size: 15px;
        line-height: 35px;
        padding: 0;
    }
}

/* End more-service */
/* Start fitness */
.fitness {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--theme-color);
}

.fitness h2 {
    color: var(--primary-color);
    margin-bottom: 55px;
}

.fitness form {
    width: 360px;
    height: 45px;
}


.fitness h5 {
    color: var(--primary-color);
    position: relative;
    margin-bottom: 10px;
    margin-top: 18px;
    padding-right: 20px;
    font-weight: 400;
}

.fitness h5::after {
    position: absolute;
    content: "*";
    top: 0;
    color: #ff0000;
    width: 5px;
    height: 5px;
}

.fitness form input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #FFF;
    outline: none;
    border: 1px solid #d5e5ef;
    padding: 0 32px;
    transition: all 0.3s ease-in-out;
}

.fitness form input[type="text"]:focus {
    border: 1px solid var(--main-color);
}

.fitness form select.say {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #FFF;
    padding: 0 32px;
    font-size: 16px;
    font-weight: 400;
    color: #808080;
    outline: none;
    border: 1px solid #d5e5ef;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../sort-down-solid.svg);
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: left 38px top 45%;
}

.select2-container--default .select2-selection--single {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    background-color: #FFF;
    padding: 0 32px;
    font-size: 16px;
    font-weight: 400;
    color: #808080;
    outline: none;
    border: 1px solid #d5e5ef;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 85%;
    width: 0;
    margin-left: 20px;
}

.select2-container {
    width: 100% !important;
}

.fitness .info .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background-color: var(--main-color);
    color: #FFF;
    border: 2px solid var(--main-color);
    margin-top: 17px;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 7px 30px rgba(239, 110, 13, 0.3);
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.fitness .info .btn span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    display: block;
    color: #FFF;
    background-color: #cb5e0b;
    z-index: -1;
}

.fitness .divid {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #d5e5ef;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 37px;
    margin-right: 97px;
}

@media (min-width:1200px) {
    .fitness form {
        width: 100%;
    }
}

@media (max-width:1199px) {
    .fitness h2 {
        width: 360px;
    }
    .fitness .data {
        width: 360px;
    }
}

@media (max-width:992px) {
    .fitness .divid {
        margin-right: 0;
    }
    .fitness form {
        width: 100%;
        height: 45px;
    }
    .fitness h2 {
        width: 100%;
    }
    .fitness .data {
        width: 100%;
    }
}

@media (max-width:576px) {
    .fitness {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .fitness h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .fitness form select {
        padding: 0 15px;
        background-position: left 15px top 45%;
    }
    .fitness .info .btn {
        font-size: 15px;
        height: 35px;
        width: 100px;
        padding: 0;
        line-height: 35px;
    }
}

table {
    width: 100%;
    border-radius: 20px;
    background-color: #f4fafc;
}

table thead th {
    width: 100%;
    height: 60px;
    margin: auto;
    text-align: center;
    background-color: var(--main-color);
    color: #FFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

table tbody td {
    padding: 19px 38px 18px 0;
    border: 1px solid #e9f5f8;
}

table tr:nth-child(odd) {
    background-color: #FFF;
}

table .one {
    font-weight: bold;
    color: var(--primary-color);
}

table .two {
    color: var(--primary-color);
}

table tfoot td {
    padding: 23px 38px 23px 0;
}

table tfoot .one {
    font-weight: bold;
    color: var(--primary-color);
}

table tfoot .two {
    color: var(--primary-color);
}

@media (max-width:576px) {
    table thead th {
        height: 40px;
    }
    table tbody td {
        padding: 14px 18px 14px 0;
    }
}

/* End fitness */
/* Start sign */
.sign {
    background-image: url(../image/reserve.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sign .date {
    width: 50%;
}

.sign h2 {
    margin-bottom: 60px;
    color: var(--primary-color);
    position: relative;
}

.sign h2::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 2px;
    background-color: var(--main-color);
    right: 0;
    bottom: -23px;
}

.sign h5 {
    padding-right: 20px;
    color: var(--primary-color);
    position: relative;
    margin-top: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}

.sign h5.required::after {
    position: absolute;
    content: "*";
    top: 0;
    color: #ff0000;
    width: 5px;
    height: 5px;
}

.sign form {
    width: 260px;
    height: 45px;
}

.sign form input[type="text"] {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 20px;
    border: 2px solid #d5e5ef;
    background-color: #f4fafb;
    padding-right: 32px;
    color: #808080;
    font-size: 16px;
    caret-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.sign form input[type="text"]:focus {
    border: 1px solid var(--main-color);
}

.sign form.send {
    width: 555px;
    height: 106px;
    margin-bottom: 20px;
}

.sign form textarea {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    outline: none;
    border: 2px solid #d5e5ef;
    background-color: #f4fafb;
    padding-right: 32px;
    padding-top: 10px;
    color: #808080;
    font-size: 16px;
    caret-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.sign form textarea:focus {
    border: 1px solid var(--main-color);
}

.sign .info .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background-color: var(--main-color);
    color: #FFF;
    border: 1px solid var(--main-color);
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 7px 30px rgba(239, 110, 13, 0.3);
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.sign .info .btn span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    display: block;
    color: #FFF;
    background-color: #cb5e0b;
    z-index: -1;
}

@media (min-width:1200px) {
    .sign form {
        width: 100%;
    }
    .sign form.send {
        width: 100%;
    }
}

@media (max-width:1199px) {
    .sign {
        background: #FFF;
    }
    .sign .date {
        width: 100%;
    }
    .sign form {
        width: 100%;
        height: 45px;
    }
    .sign form.send {
        width: 100%;
        height: 106px;
    }
}

@media (max-width:767px) {
    .sign {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sign h5 {
        margin-top: 10px;
    }
}

@media (max-width:576px) {
    .sign {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sign h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .sign h2::after {
        bottom: -10px;
    }
    .sign .info .btn {
        font-size: 15px;
        height: 35px;
        width: 100px;
        padding: 0;
        line-height: 35px;
    }
}

/* End sign */
/* Start testimonials */
.testimonials {
    background-image: url(../image/testimonials.png);
    background-position: top left;
    background-repeat: repeat-x;
    padding-bottom: 70px;
    padding-top: 95px;
}

.testimonials h2 {
    color: var(--primary-color);
    margin-bottom: 50px;
    line-height: 60px;
}

.testimonials .move {
    position: relative;
}

.testimonials .swiper-slide {
    margin: auto;
    padding: 10px;
}

.testimonials .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFF;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    margin: auto;
    border-radius: 20px;
}

.testimonials .box .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimonials h3 {
    padding-right: 31px;
    font-weight: bold;
    color: var(--main-color);
    line-height: 34px;
}

.testimonials i {
    padding-right: 20px;
    padding-top: 20px;
    transform: rotateY(180deg);
    color: var(--theme-color);
}

.testimonials h5 {
    padding: 10px 33px 20px 32px;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 26px;
}

.testimonials .swiper-pagination {
    bottom: -50px;
}

.testimonials .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: 4px;
}

.testimonials .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

.testimonials .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

@media (max-width:767px) {
    .testimonials {
        padding-bottom: 10px;
        padding-top: 70px;
    }
}

@media (max-width:576px) {
    .testimonials {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .testimonials h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .testimonials .swiper-pagination {
        bottom: -35px;
    }
}
/* End testimonials */
/* Start artical */
.artical {
    padding-top: 100px;
    padding-bottom: 100px;
}

.artical .move {
    position: relative;
}

.artical .swiper-slide {
    padding: 10px;
}

.artical h2 {
    margin-bottom: 50px;
    color: var(--primary-color);
    line-height: 60px;
}

.artical .box {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 360px;
    margin: auto;
    margin-bottom: 50px;
}

.artical .date {
    color: #828282;
    padding: 23px 26px 14px 26px ;
}

.artical .date h6 {
    line-height: 1;
}

.artical .title h3 {
    font-weight: bold;
    line-height: 26px;
    padding-right: 29px;
    padding-left: 29px;
    color: var(--primary-color);
    min-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.artical .title:hover h3 {
    color: var(--main-color);
}

.artical .sub-title {
    min-height: 100px;
}

.artical .sub-title h6 {
    font-weight: 400;
    padding: 20px 28px 29px 28px;
    color: var(--primary-color);
    line-height: 26px;
}

.artical .swiper-slide img {
    max-width: 100%;
}

.artical .swiper-pagination {
    bottom: -50px;
}

.artical .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: 4px;
}

.artical .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

@media (max-width:576px) {
    .artical {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .artical h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .artical .swiper-pagination {
        bottom: 0;
    }
}
/* End artical */
/* Start partners */
.partners {
    background-color: var(--theme-color);
    padding-top: 100px;
    padding-bottom: 155px;
}

.partners .first {
    position: relative;
}

.partners h2 {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.partners .swiper-slide a {
    width: 176px;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFF;
    overflow: hidden;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.partners .swiper-slide a:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.partners .swiper-slide {
    padding: 25px 0;
}

.partners .swiper-pagination {
    bottom: -50px;
}

.partners .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: 4px;
}

.partners .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

@media(max-width:567px) {
    .partners {
        padding-top: 70px;
        padding-bottom: 110px;
    }
    .partners h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .partners .swiper-slide a {
        justify-content: center;
        width: 100px;
        height: 100px;
        padding: 20px;
    }
    .partners img {
        max-width: 100%;
    }
} 
/* End partners */
/* Start ask */
.ask {
    position: relative;
    padding-top: 169px;
    padding-bottom: 100px;
}

.ask .image {
    position: absolute;
    width: 50%;
    left: 643px;
    top: 63px;
}

.ask .image span {
    position: relative;
    display: inline-block;
}

.ask .image span::after {
    position: absolute;
    content: "";
    width: 500%;
    height: 100%;
    position: absolute;
    display: block;
    top: 1px;
    left: 0;
    border-radius: 310px;
    transform-origin: 310px 310px;
    background-color: var(--main-color);
    transform: rotate(50deg);
    z-index: -1;
}

.ask .image-sayed {
    display: none;
}


.ask .answer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-right: 50%;
}

.ask h2 {
    margin-bottom: 30px;
    color: var(--primary-color);
}

.ask .box {
    width: 100%;
}

.ask .one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: var(--primary-color);
    background-color: #e9f5f8;
    cursor: pointer;
    margin-bottom: 2px;
}

.ask h4 {
    padding: 24px 29px 25px 0;
}

.ask i {
    padding: 24px 0 24px 26px;
}

.ask .box:hover .one {
    color: var(--main-color);
}

.ask .box h6 {
    padding: 24px 28px 0 29px;
    color: #808080;
    background-color: #f4fafb;
    height: 117px;
    width: 555px;
    line-height: 26px;
    font-weight: 400;
    display: none;
    margin-bottom: 5px;
}

@media (min-width:1200px) {
    .ask .box h6 {
        width: 100%;
    }
}

@media (max-width:1199px) {
    .ask .image {
        position: static;
        margin-right: 80px;
        margin-bottom: 50px;
    }
    .ask .answer {
        width: 100%;
        margin-right: 0;
    }
    .ask .box h6 {
        width: 100%;
    }
    .ask .image::after {
        display: none;
    }
}

@media (max-width:575px) {
    .ask {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .ask .image {
        display: none;
    }
    .ask .image-sayed {
        display: block;
        margin-bottom: 25px;
    }
    .ask .image-sayed img {
        max-width: 100%;
    }
    .ask h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .ask .image img {
        max-width: 100%;
    }
    .ask .box h6 {
        height: 135px;
        padding: 15px 20px 0 20px;
    }
    .ask h4 {
        padding: 15px 10px 15px 0;
    }
    .ask i {
        padding: 12px 0 20px 12px;
    }
}

/* End ask */
/* Start news */
.news {
    padding-top: 144px;
    padding-bottom: 124px;
}

.news h2 {
    margin-bottom: 38px;
    color: var(--primary-color);
    line-height: 60px;
}

.news .box {
    display: flex;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color: #FFF;
    margin-bottom: 26px;
    padding: 20px 20px 40px 35px;
}

.news .date {
    background-color: var(--theme-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-left: 24px;
}

.news .num {
    font-size: 37px;
    line-height: 34px;
    font-weight: bold;
    color: var(--main-color);
}   

.news .mon {
    font-size: 16px;
    line-height: 17px;
    color: var(--main-color);
}

.news .inside p {
    padding: 17px 0 10px 0;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

.news .inside h5 {
    color: #808080;
    line-height: 28px;
    font-weight: 400;
}

.news .swiper {
    display: none;
}



@media (max-width:767px) {
    .news .news-item {
        display: none;
    }
    .news .swiper {
        display: block;
    }
    .news .move {
        position: relative;
    }
    
    .news .swiper-slide {
        padding: 20px;
    }
    
    .news .swiper-pagination {
        bottom: 30px;
    }
    
    .news .swiper-pagination-bullet {
        width: 15px;
        height: 5px;
        border-radius: 4px;
    }
    
    .news .swiper-pagination-bullet-active {
        background-color: var(--main-color);
    }
}

@media (max-width:567px) {
    .news {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .news .swiper {
        padding-top: 0;
        padding-bottom: 30px;
    }
    .news h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .news .box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 40px 20px;
    }
    .news .date {
        margin: 0;
    }
    .news .inside {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .news .inside p {
        text-align: justify;
        text-align-last: center;
    }
    .news .inside h5 {
        text-align: justify;
        text-align-last: center;
    }   
}


/* .owl-carousel .owl-stage{
    transform:translate3d(0,0,0) !important;
  } */

/* End news */
/* Start map */
.map iframe {
    width: 100%;
    height: 250px;
}
/* End map */

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Start footer */
.footer {
    padding-top: 72px;
    padding-bottom: 85px;
    background-color: #243374;
}

.footer .divid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .logo-2 {
    max-width: 292px;
}

.footer .logo-2 img {
    max-width: 100%;
}

.footer h6 {
    line-height: 28px;
    color: #FFF;
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer .social {
    display: flex;
}

.footer i.fa-chevron-down {
    display: none;
}

.footer .social i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #3a4882;
    color: #FFF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
}

.footer .social i:hover {
    background-color: var(--main-color);
}

.footer .link {
    width: 195px;
}

.footer h4 {
    margin-bottom: 41px;
    color: #FFF;
    position: relative;
}

.footer h4::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 2px;
    background-color: var(--main-color);
    right: 0;
    bottom: -15px;
}

.footer .title {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.footer .link a {
    display: block;
    font-size: 15px;
    line-height: 28px;
    color: #8bb1ff;
    width: fit-content;
}

.footer .link .title i ,
.footer .center .title i {
    margin-right: 15px;
    color: #FFF;
}

.footer .center .sub {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 47px;
    flex-wrap: wrap;
}

.footer .center .serve a {
    display: block;
    font-size: 15px;
    line-height: 28px;
    color: #8bb1ff;
    width: fit-content;
}

.footer .center .person a {
    display: block;
    font-size: 15px;
    line-height: 28px;
    color: #8bb1ff;
    width: fit-content;
}

@media (max-width:992px) {
    .footer .divid {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width:767px) {
    .footer i.fa-chevron-down {
        display: block;
    }
}

@media (max-width:576px) {
    .footer {
        padding: 50px 0 30px 0;
    }
    .footer .logo-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .footer .divid {
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .footer .link {
        width: 100%;
    }
    .footer .title {
        width: 100%;
        justify-content: space-between;
    }
    .footer .go {
        display: none;
    }
    .footer .center .sub {
        gap: 0;
        display: none;
    }
    .footer h4 {
        margin-bottom: 15px;
    }
    .footer .divid .center {
        width: 100%;
    }
    .footer h4::after {
        display: none;
    }
    .footer h6 {
        margin-top: 0;
        text-align: center;
    }
}
/* End footer */
/* Start down-foot */
.down-foot {
    background-color: #1f2b63;
    padding-top: 10px;
    padding-bottom: 10px;
}

.down-foot .divid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-foot .right p {
    font-size: 14px;
    font-weight: 400;
    color: #FFF;

}

.down-foot .left p {
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    margin-top: 2px;
}

.down-foot .left i {
    color: #f14848;
    font-size: 14px;
}

.down-foot .left span {
    font-size: 14px;
    font-weight: bold;
    color: #1abcbc;
}

@media (max-width:767px) {
    .down-foot .divid {
        justify-content: center;
        flex-direction: column;
        padding: 15px 0;
    }
}

@media (max-width:576px) {
    .down-foot {
        padding: 0;
    }
    .down-foot .right p,
    .down-foot .left p {
        font-size: 12px;
    }
}
/* End down-foot */